body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.mainButton{
    background-color: darkred;
    color: white;
    padding: 5px 10px;
    border: 0px;
    border-radius: 10px;
    font-weight: bolder;
    
}
.mainButton:hover{
    cursor: pointer;
    box-shadow: 1px 1px palevioletred;
    transform: scale(1.1);

}