body{
    margin: 0px;
    padding: 5px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 30 px;
    size: 20px;
    padding: 10px;
}

.btnGenerico{
    padding: 5px 10px;
    border: 0px;
    border-radius: 10px;
    font-weight: bolder;
}

.btnGenerico:hover{
    cursor: pointer;
    box-shadow: 1px 1px palevioletred;
    transform: scale(1.1);
}
.mainButton{
    background-color: darkred;
    color: white;
  
}
.secondaryButton{
    background-color:aqua ;
    color: white;
}